ipv6 unicast-routing

{% for interface, interface_data in interfaces.items() %}

default interface {{ interface }}
interface {{ interface }}
  description {{ interface_data.attributes.connects_to_device }}:{{ interface_data.attributes.connects_to_iface }}
  {{ 'no switchport' if not interface_data.attributes.link_type == "loopback" else "" }}

  {% for address in interface_data.ipv6 %}
    ipv6 address {{ address if interface_data.attributes.link_type != "loopback" else "{}/128".format(address.split('/')[0]) }}
  {% endfor %}

{% endfor %}

{% include 'bgp.j2' %}
