route-map EXPORT-LO0 permit 10
   match interface Loopback0

no router bgp
router bgp {{ asn }}
   router-id {{ router_id }}
   redistribute connected route-map EXPORT-LO0

{% for interface, interface_data in interfaces.items() if interface_data.attributes.link_type == "fabric_links" %}
    {% set peer_ip = hostvars[interface_data.attributes.connects_to_device]['interfaces'][interface_data.attributes.connects_to_iface]['ipv6'][0].split('/')[0] %}
    {% set peer_asn = hostvars[interface_data.attributes.connects_to_device]['asn'] %}

     neighbor {{ peer_ip }} remote-as {{ peer_asn }}
     neighbor {{ peer_ip }} description {{ interface_data.attributes.connects_to_device }}:{{ interface_data.attributes.connects_to_iface }}
     address-family ipv6
       neighbor {{ peer_ip }} activate

{% endfor %}

